body { padding-top: 70px; }

	#container div{
			float: left;
			padding: 10px 0;
		}

	#clockpanel{
		text-align: center;
	}

@media (min-width: 768px) {
	#exercise{
		font-size: 200px;
		height: 400px;
	}
}

@media print{
	.actions, dl, p, h1, .form-horizontal, header, hr, #print-toolbar{
		display: none;
	}

	#container{
		margin-top: 10px;
	}

	#container div{
		float: left;
		padding: 10px 0;
	}

	.row, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-1{
		margin: 0px;
	}

  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width:1199px){
	.form{
		border-bottom: 1px solid #eee;
		padding-bottom: 12px;
	}

	hr{
		margin: 6px 0;	
	}

	 #exercise {
		font-size: 160px;
		height: 300px;
	}
}

@media screen and (max-width: 1000px){
	#container div{
		width: 50%;
	}

	#exercise {
		font-size: 120px;
		height: 250px;
	}
}

@media screen and (max-width: 800px) {
   #exercise {
		font-size: 100px;
		height: 250px;
	}
}

@media screen and (max-width: 600px) {
   #exercise {
		font-size: 80px;
		height: 200px;
	}

	/* Retina-specific stuff here */
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    #exercise {
			font-size: 50px;
			height: 220px;
		}
	}
}

@media screen and (max-width: 450px) {
   #exercise {
		font-size: 50px;
		height: 220px;
	}
}