dl{
	width:300px;
	float: left;
	padding-bottom: 10px;
}

dt{
	margin: 0 4px 0 0;
	width: 146px;
	display: block;
	float: left;
	text-align: right;
}	

dd{
	margin: 0;
	width: 150px;
	display: block;
	clear: right;
	float: left;
}

p{
	margin: 3px 0;
}

#container{
	width: 100%;
	font-size: 24px;
	float: left;
	clear: both;
}

#container div{
	width: 33%;
	float: left;
	padding: 10px 0;
}

#container div.columns-1{width:100%;}
#container div.columns-2{width:50%;}
#container div.columns-3{width:33%;}
#container div.columns-4{width:25%;}
#container div.columns-5{width:20%;}
#container div.columns-6{width:16%;}
#container div.columns-7{width:14%;}
#container div.columns-8{width:12%;}
#container div.columns-9{width:11%;}
#container div.columns-10{width:10%;}

input[type='text']{
	width: 30px;
}

.actions{
	float: left;
	clear: both;
}

@media print{
	.actions, dl, p, h1{
		display: none;
	}

	#container{
		margin-top: 100px;
	}
}

@media screen and (max-width:900px){
	#container div{
		width: 50%;
	}
}